<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Student Login</title>
        <link rel="stylesheet" href="/css/login-style.css">
    </head>
    <body>
        <section id="login-form-contain">
            <form action="/login/student" method="post" id="login-form">
                <h4>Login As A Student</h4>
                <label for="school_name"></label>
                <select name="school_name" id="school_name" class="linput-style" required>
                    <option value="">Select Your School --</option>
                    <option value="High Class School Of Science">High Class School Of Science</option>
                    <option value="FGC Girls College">FGC Girls College</option>
                    <option value="Federal School Of Science And Technology">Federal School Of Science And Technology</option>
                    <option value="FSTC Ijebu Imushin">FSTC Ijebu Imushin</option>
                    <option value="Pacessetters International College">Pacessetters International College</option>
                </select>
                <label for="student_username">Your Username</label>
                <input type="text" name="student_username" id="student_username" class="linput-style">
                <label for="student_password">Your Password</label>
                <input type="password" name="student_password" id="student_password" class="linput-style">
                <button type="submit">Submit</button>
            </form>
        </section>
        <script src="" async defer></script>
    </body>
</html>