body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(red, yellow, green);
}

#login-form-contain{
    width: 30%;
    margin: 25% auto 0 auto;
}
#login-form{
    background-color: firebrick;
    border-radius: 1rem;
    display: inline-block;
    padding: 2rem;
}
#login-form input{
    margin: 0.5rem 1rem;
}
#login-form label{
    margin: 0.5rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
#login-form select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.linput-style{
    outline: none;
    display: block;
    border: none;
    border-bottom: 1.5px solid black;
    box-sizing: border-box;
    background-color: transparent;
}
.linput-style:focus{
    border-bottom: 2px solid rgb(9, 9, 145);
}